<!--All tags-->
<div class="all-tags">
<div class="tags">
<div class="tag"><a href="/" title="all tags">all</a></div>
<div class="tag" id="tag_980190995"><a href="/">one</a></div>
<div class="tag" id="tag_980190996"><a href="/">two</a></div>
</div></div>

