<!--All tags-->
<div class="all-tags">
<div class="tags">
<div class="tag"><a href="/webmas-gallery/" title="all tags">all</a></div>
<div class="tag" id="tag_980190995"><a href="/webmas-gallery/pictures/one">one</a></div>
<div class="tag" id="tag_980190996"><a href="/webmas-gallery/pictures/three">three</a></div></div></div>
<!--Pictures-->
<div class="gallery">
<div class="picture" id="picture_980190990">
<div class="thumbnail"><a href="/webmas-gallery/images/gallery/figs-roses-apples.jpg" target="_blank"><img alt="Figs, roses &amp; apples" src="/webmas-gallery/images/gallery/figs-roses-apples-t.jpg" /></a></div>
<div class="field"><div class="filename"></div></div>
<div class="field"><div class="sequence"></div></div>
<div class="field"><div class="title">Figs, roses & apples</div></div>
<div class="field"><div class="description">I painted these figs</div></div>
<div class="field"><div class="year">2011</div></div>
<div class="field"><div class="weight"></div></div>

<div class="tags">
<div class="tag" id="tag_980190996"><a href="/webmas-gallery/pictures/three">three</a></div></div>
</div>
<div class="picture" id="picture_980190991">
<div class="thumbnail"><a href="/webmas-gallery/images/gallery/homer2.jpg" target="_blank"><img alt="Bust of Homer2" src="/webmas-gallery/images/gallery/homer2-t.jpg" /></a></div>
<div class="field"><div class="filename"></div></div>
<div class="field"><div class="sequence"></div></div>
<div class="field"><div class="title">Bust of Homer2</div></div>
<div class="field"><div class="description">My painting of the bust</div></div>
<div class="field"><div class="year">2011</div></div>
<div class="field"><div class="weight"></div></div>

<div class="tags">
<div class="tag" id="tag_980190995"><a href="/webmas-gallery/pictures/one">one</a></div></div>
</div></div>

</body></html>
